
body {
    text-align: center;
    background-color: #F7B32B;
    opacity: 0.8;
    padding: 1em;
}


canvas {
  width: 500px;
  border: 2px solid #98adc5;
  border-radius: 10px;
  margin-top: -1.5em;
}


button {
	padding: 0.5em 1em;
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 1em;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 1.5em;
	}



/*

.hide {
	visibility: hidden;
	opacity: 0 !important;
}
.show {
	visibility: visible !important;
	opacity: 1 !important;
}
